:root {
  --primary-font: "Roboto", san-serif;
  --secondary-font: "Raleway", san-serif;
  --primary-font-color: #757575;
  --secondary-font-color: #212121;
  --accent-font-color: #2196f3;
  --second-accent-font-color: #ffffff;
  --background-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --svg-color: #afb1b8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ====COMPONENTS==== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-font-color);
}

.logo-studio {
  color: #000000;
}

.titles {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}
/* ====END COMPONENTS==== */

/* ====HEADER==== */

.header {
  padding: 24px;
}
.header .container {
  display: flex;
  align-items: center;
}

.header .navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.header .address {
  margin-left: auto;
}

.address-list {
  display: flex;
}

.header .logo {
  margin-right: 93px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-list-item:not(:last-child) {
  margin-right: 30px;
}
.navigation-list-link {
  position: relative;

  padding-top: 31px;
  padding-bottom: 31px;

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-font);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page {
  color: var(--accent-font-color);
}

.current-page::after {
  position: absolute;
  bottom: 0;

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-font-color);
}

.address-list-link {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: var(--primary-font-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-font-color);
}

.logo:focus {
  font-family: var(--secondary-font);
}

.icon-address-svg {
  margin-right: 10px;
  fill: var(--primary-font-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover .icon-address-svg,
.address-list-link:focus .icon-address-svg {
  fill: var(--accent-font-color);
}

/* ====END HEADER==== */

/* ====HEROE==== */

.heroe {
  background-color: var(--background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}
.heroe .container {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 250px;
  padding-right: 250px;
}

.heroe-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-accent-font-color);
}

.button {
  display: inline-block;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--second-accent-font-color);
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-font-color);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}
/* ====END HEROE==== */

/* ====ADVANTAGES==== */

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-font-color);
}

.advantages-list-description {
  width: 270px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.advantages-list-item::before {
  display: block;
  margin-bottom: 30px;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-list-item.icon-antenna::before {
  background-image: url(../images/advantages/antenna.svg);
}

.advantages-list-item.icon-clock::before {
  background-image: url(../images/advantages/clock.svg);
}

.advantages-list-item.icon-diagram::before {
  background-image: url(../images/advantages/diagram.svg);
}

.advantages-list-item.icon-astronaut::before {
  background-image: url(../images/advantages/astronaut.svg);
}

/* ====END ADVANTAGES==== */

/* ====SERVICES==== */
.services {
  padding-bottom: 94px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}
.services-list-item {
  position: relative;
}

.service-list-description {
  position: absolute;
  bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
/* ====END SERVICES==== */

/* ====TEAM==== */
.team {
  background-color: #f5f4fa;
}
.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-content {
  padding: 30px;
}

.team-list-name {
  margin-bottom: 10px;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.team-list-position {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: var(--svg-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-font-color);
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: #ffffff;
}
/* ====END TEAM==== */

/* ====CLIENTS==== */
.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--svg-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-svg {
  fill: var(--svg-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-font-color);
}

.clients-list-link:hover .clients-list-svg,
.clients-list-link:focus .clients-list-svg {
  fill: var(--accent-font-color);
}

/* ====END CLIENTS==== */
/* ====FOOTER==== */

.footer {
  background-color: var(--background-color);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer .logo-studio {
  color: var(--second-accent-font-color);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-street {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--second-accent-font-color);
}

.footer-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-list-street:focus,
.footer-list-link:focus {
  font-style: normal;
}

.footer > .container {
  display: flex;
}

.contact-info {
  margin-right: 70px;
}

.social-links-subtitle {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-font-color);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-font-color);
}
.footer .social-list-svg {
  fill: var(--second-accent-font-color);
}

/* ====END FOOTER==== */

/* ====PORTFOLIO==== */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px;

  font-family: var(--primary-font);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-style: none;
  color: var(--secondary-font-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--second-accent-font-color);
  background-color: var(--accent-font-color);
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-examples-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-examples-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-examples-name {
  margin-bottom: 4px;
}

.portfolio-examples-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-examples-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-examples-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-font-color);
}

.portfolio-examples-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  color: var(--primary-font-color);
}

.portfolio-examples-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-examples-item:hover .overlay {
  transform: translateY(0%);
}

.examples-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ====END PORTFOLIO==== */

/* ====MODAL==== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);

  width: 528px;
  height: 521px;
  background-color: var(--second-accent-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--second-accent-font-color);
  cursor: pointer;
}

.close-btn-svg {
  width: 11px;
  height: 11px;
  fill: #000000;
}
/* ====END MODAL==== */
